$color-background: #f5f3ef;
$color-text: #333;
$color-link: #c5432a;
$font-header: 'lust-display-didone', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$font-text: 'articulat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-display: 'graycliff', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-monospace: 'droid-sans-mono', monaco, Consolas, 'Lucida Console', monospace;